Source: wforced
Maintainer: Neil Cook <neil.cook@open-xchange.com>
Section: web
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), cdbs, dh-autoreconf, libtool, automake, autoconf, pkg-config, g++, liblua5.1-0-dev, libboost-dev, libgeoip-dev, libsodium-dev, libgetdns-dev, libsystemd-dev, dh-systemd

Package: wforced
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Daemon for detecting brute force attacks
 The goal of 'wforced' is to detect brute forcing of passwords across many
 servers, services and instances. In order to support the real world, brute
 force detection policy can be tailored to deal with "bulk, but legitimate"
 users of your service, as well as botnet-wide slowscans of passwords.
 The aim is to support the largest of installations, providing services to
 hundreds of millions of users.

