click==6.7
coverage==4.4.1
elasticsearch>=7.0.0
Flask==2.3.2
Flask-Elastic==0.2
Flask-HTTPAuth==3.2.3
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.1.0
pytz==2017.2
urllib3==1.26.5
Werkzeug==0.15.5
requests==2.25.1
gunicorn==19.9.0
wheel
