click==6.7
coverage==4.4.1
elasticsearch>=6.0.0,<7.0.0
Flask==0.12.3
Flask-Elastic==0.2
Flask-HTTPAuth==3.2.3
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==1.0
pytz==2017.2
urllib3==1.23
Werkzeug==0.12.2
requests==2.20
gunicorn==19.9.0
wheel
