addListener("0.0.0.0:{{env['TRACKALERT_HTTP_PORT']}}", false, "", "", {})
setWebserverPassword("{{env['TRACKALERT_HTTP_PASSWORD']}}")

{{env['TRACKALERT_KEY']}}
controlSocket("127.0.0.1:4005")

addACL("127.0.0.0/8")
addACL("192.168.0.0/16")

function report(lt)
   infoLog("Received report", { login=lt.login, remote=lt.remote:tostring(), timestamp=lt.t })
end

setReport(report)

function background()
    infoLog("Ran background thread", {})
end

setBackground("background", background)
cronScheduleBackgroundFunc("* * * * *", "background")
