---
name: 'Test package building for specific distributions'

on:
  push:
  pull_request:
  schedule:
    - cron: '0 22 * * 2'

jobs:
  build:
    name: build.sh
    # on a ubuntu-20.04 VM
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        os:
          - centos-7
          - ol-8
          - amazon-2
          - debian-buster
          - debian-bullseye
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0  # for correct version numbers
          submodules: recursive
      - run: builder/build.sh -e 1 -v  ${{ matrix.os }}
